/* .industryAutoComplete{
   margin-bottom: 10rem;
}

.queryBuilder{
    display: flex;
    justify-items: center;
}

.testing{
    margin-top: 3rem;
} */
/* .reportPage{
    display:flex;
    flex-direction: row;
} */
/* .reportPreview{
    background-color: aqua;
    width: 400rem;
    height: 400rem;
} */
.QuerySelect{
    display: grid;
    background-color: rgb(209, 218, 209);
    border-radius: 2%;
    padding: 2rem;
    justify-content: space-evenly;
}